@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @apply bg-white dark:bg-neutral-900;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: transparent !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  background-color: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-weight: normal !important;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent !important;
  padding: 0 !important;
}
